.div{
    border: 3px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    color:white;
    background-color: #C29979;
    margin-left: 550px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 22px;
}